body {
    align-items: center;
}

button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: cornflowerblue;
    color: whitesmoke;
    padding: 20px;
    font-size: 16px;
}
